.noty_theme__mint.noty_bar {
  margin: 4px 0;
  overflow: hidden;
  border-radius: 2px;
  position: relative; }
  .noty_theme__mint.noty_bar .noty_body {
    padding: 18px;
    font-size: 22px; }
  .noty_theme__mint.noty_bar .noty_buttons {
    padding: 10px; }

.noty_theme__mint.noty_type__alert,
.noty_theme__mint.noty_type__notification {
  background-color: #fff !important;
  border-bottom: 1px solid #D1D1D1 !important;
  color: #2F2F2F !important; }

.noty_theme__mint.noty_type__warning {
  background-color: #FFAE42 !important;
  border-bottom: 1px solid #E89F3C !important;
  color: #fff !important; }

.noty_theme__mint.noty_type__error {
  background-color: #DE636F !important;
  border-bottom: 1px solid #CA5A65 !important;
  color: #fff !important; }

.noty_theme__mint.noty_type__info,
.noty_theme__mint.noty_type__information {
  background-color: #56b8f2 !important;
  border-bottom: 1px solid #56b8f2 !important;
  color: #fff !important; }

.noty_theme__mint.noty_type__success {
  background-color: #AFC765 !important;
  border-bottom: 1px solid #A0B55C !important;
  color: #fff !important; }


  .noty_has_timeout.noty_has_progressbar .noty_progressbar {
  left: 0;
  bottom: 0;
  height: 10px;
  width: 100%;
  opacity: 0.8;
  filter: alpha(opacity=10); }
