/* Corail - Let's meet the future 
note(BG): ho uiiiiiiiii the future :) */

/* This syle applies to the web pages the user visit */


/* Corail - Let's meet the future 
note(BG): ho uiiiiiiiii the future :) */

/* This syle applies to the web pages the user visit */


/* To apply to all field we fill. */ 
.corail_bg{
    background-image: url(https://i.goopics.net/kW4rG.png),url(https://i.goopics.net/9ay4w.png) !important;

}

.corail_bg option:checked{
    background-image: url(https://i.goopics.net/kW4rG.png),url(https://i.goopics.net/9ay4w.png) !important;
}

.corail_bg option{
    background-color: initial;
}

/* To apply only if field is long enough*/
.corail_image{
    background-image: url(https://i.goopics.net/kW4rG.png), url(https://image.ibb.co/bS0ZTS/logo_corail_1.png),url(https://i.goopics.net/9ay4w.png) !important;
    background-size: 100%, 30px, 100% !important;
    background-position: right !important;
    background-repeat: no-repeat !important;
}

/* To build to list of profil (dropdown) */
.dropdown-content {
    background-color: #f1f1f1;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

.dropdown-content a:hover {
    background-image: url(https://i.goopics.net/kW4rG.png), !important;
    background-size: 100%, 30px, 100% !important;
    background-position: right !important;
    background-repeat: no-repeat !important;
    text-decoration: none;
    font-weight: bold;
}